{{#extend "layout"}}

  {{#replace "meta"}}
    <title>Praktijkcentrum Lochristi</title>
    <meta name="description" content="Hier kan u terecht bij 3 huisartsen, 4 kinderpsychologen, 1 psychologe en 1 voedingsdeskundige. Gelegen net buiten de dorpskern van Lochristi.">
  {{/replace}}

  {{#replace "main"}}

    <section id="landing">
      <div class="inner">
        <h1>Natural Resources</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
