{{#extend "layout"}}
  {{#replace "main"}}

    <section id="landing">
      <div class="inner">
        <h1>Playground</h1>
        <button>HotDoc button</button>
        <div class="btn-group">
          <button type="button" class="btn btn-success">Bootstrap button ripoff</button>
          <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
        </div>
        <p>Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked
          and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.</p>
      </div>
    </section>

  {{/replace}}
{{/extend}}