<header>

  <ul>
    <!-- Use absolute links instead of relative links. Use / in front of the link to do this-->
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/playground">Playground</a></li>
    <!-- above target...target attribute blank opens the link in a new tab. -->
    <!-- <li><a href="https://www.google.com.au" target="_blank">Google in New Tab</a></li> -->
    <!-- a is the anchor, href is the target -->
    <!-- <li><a href="https://www.google.com.au">Google in same tab</a></li> -->
    <!-- The title attribute appears when hovering over the link.  -->
    <li>
      <a href="https://github.com/zacrobat/grunt-homepage" target="_blank" title="Zac's Github Repo">Zacrobat</a>
    </li>
  </ul>

</header>