<nav>
  <ul>
    <li>
      <!-- localhost:9000/contact/ -->
      <a href="/home">Home</a>
    </li>
    <li>
      <!-- localhost:9000/links/ -->
      <a href="/links">Links</a>
    </li>
    <li>
      <!-- localhost:9000/contact/ -->
      <a href="/contact">Contact</a>
    </li>
    <li>
      <!-- localhost:9000/contact/ -->
      <a href="/resources">Resources</a>
    </li>
  </ul>

</nav>
